<!DOCTYPE html>
<html data-theme="light" xmlns="htpps://www.thymeleaf.org/" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>500 | Covec</title>
</head>

<body>
	<div class="md:container md:mx-auto">
		<nav class="bg-light-800">
			<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
				<div class="relative flex items-center justify-between h-16">

					<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start ">
						<div class="flex-shrink-0 flex items-center">
							<img class="hidden block lg:block h-12 w-auto pr-4" src="https://i.ibb.co/FwXGwtv/log.png"
								alt="COVEC">
							<img class="hidden lg:block h-8 w-auto" src="https://i.ibb.co/6Hp7ft6/Covec.png"
								alt="COVEC">
						</div>
					</div>

				</div>
			</div>

		</nav>
		<br class="hidden md:block" />

		<div class="relative flex flex-col py-16 lg:py-0 lg:flex-col">
			<div
				class="max-w-xl px-8 ml-4 mb-6 md:p-4 lg:pl-10 lg:pr-0 lg:mb-0 lg:mx-0  lg:absolute sm:absolute md:absolute">
				<img class="w-130 h-85  lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
					src="https://i.ibb.co/30SS8Tc/Group-8500.png?h=550;w=760" alt="500" />
			</div>
			<div class="max-w-xl px-4 ml-auto md:pl-4 lg:px-8 lg:py-20 md:ml-auto">
				<div class="mb-0 lg:max-w-lg lg:pr-8 xl:pr-6 ">
					<h2 class="mb-5 font-sans text-6xl font-bold tracking-normal  text-center md:text-center sm:text-center"
						style="color: #605AD4;">
						ERROR INTERNO

					</h2>
					<p class="mb-5 text-base text-gray-700 text-5xl  text-center tracking-normal md:text-lg sm:text-center md:text-center md:pl-4"
						style="color: #847CFC;">
						Por favor, comunicate con tu<br class="hidden md:block" />
						administrador o intenta mas tarde.
					<div class="mb-10 text-center md:mb-16 lg:mb-20">
						<a href="/"
							class="btn-xs sm:btn-sm md:btn-md lg:btn-lg inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto  hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
							style="background-color: #928CE4;">
							<span class="material-icons">west</span>Regresar al Login
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>

</html>