<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Municipios | Covec</title>
</head>
<body id="bodyid">
<div class="container mx-auto p-5">
    <div class="grid grid-cols-1 justify-items-center p-6">
        <h1 class="text-2xl font-semibold">Municipios registrados</h1>
        <h3 class="text-lg font-light text-gray-600 pt-2">Lista de Municipios</h3>
    </div>

    <div class="grid grid-cols-4">
        <div th:replace="municipio/ModalFGT::modalMuni"></div>
    </div>

    <div class="overflow-x-auto p-6">
        <div class="grid grid-cols-1 justify-items-center">
            <table id="tabla" class="table w-full">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c,i:${municipios}">
                    <td th:text="${c.nombre}"></td>
                    <td>
                        <div class="btn-group">
                            <div th:replace="municipio/ModalUpdate::modalUpdate(${c}, ${i.count})" ></div>
                            <a class="btn" th:href="@{/municipios/delete/{id}(id=${c.id})}" style="background-color: #605AD4">
                                <span class="material-icons">delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="grid justify-items-end">
        <div class="btn-group">
            <a th:each="page:${paginas}" class="btn" style="background-color: white; color: black"
               th:href="@{|/municipios/all/?page=${page}|}" th:text="${page}"></a>
        </div>
    </div>

</div>
</body>
</html>