<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Categorias | Covec</title>
</head>

<body>
    <div th:fragment="cobrarModal">
        <label for="cobrar" class="btn border-none bg-emerald-700 hover:bg-emerald-600">
            <span class="material-icons">
                attach_money
                </span>
            Realizar cobro
        </label>
        <input type="checkbox" id="cobrar" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <div class="grid grid-cols-1 justify-items-center">
                    <h2 class="font-bold text-2xl">Cobro de incidencia</h2>
                    <h4 class="font-light text-lg">
                        Seleccione el monto a cobrar
                    </h4>
                </div>
                <div class="divider"></div>
                <form method="post"
                    th:action="@{/incidencias/cobrar/{idIncidencia}/{idEnlace} (idIncidencia = ${incidencia.id}, idEnlace = ${enlace.id})}">
                    <div class="grid md:grid-cols-1 sm:grid-cols-1 justify-items-center">
                        <h2 class="font-normal">Monto:</h2>
                        <input type="number" name="monto" min="0" placeholder="500.00"
                            class="input input-bordered w-full max-w-xs" required>
                    </div>
                    <div class="divider"></div>
                    <div class="modal-action">
                        <div class="btn-group">
                            <div class="btn-group">
                                <label for="cobrar" class="btn border-none">Cerrar</label>
                                <button type="submit" class="btn border-none bg-emerald-700 hover:bg-emerald-600">Cobrar<span class="material-icons ml-2">attach_money</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>