<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Categorias | Covec</title>
</head>

<body>
    <div th:fragment="pagarModal(objeto)">
        <label for="cobrar" class="btn border-none bg-emerald-700 hover:bg-emerald-600">
            <span class="material-icons">
                attach_money
                </span>
            Realizar Pago
        </label>
        <input type="checkbox" id="cobrar" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <div class="grid grid-cols-1 justify-items-center">
                    <h2 class="font-bold text-2xl">Pago de incidencia</h2>
                    <h4 class="font-light text-lg">
                        Detalles sobre el pago de la incidencia
                    </h4>
                </div>
                <div class="divider"></div>
                <form th:object="${pago}" method="post" th:action="@{/incidencias/pagar/{idIncidencia} (idIncidencia=${objeto.id})} ">
                    <div class="grid md:grid-cols-1 sm:grid-cols-1 justify-items-center">
                        <h4 class="font-light text-lg">
                            El monto a pagar por esta incidencia es de:
                        </h4>
                        <h6 class="text-xl font-bold text-gray-500">$[[${objeto.monto}]]</h6>
                        <input type="number" name="cantidad" th:value="${objeto.monto}" hidden>
                        <input type="number" name="incidencia" th:value="${objeto.id}" hidden>
                    </div>
                    <div class="divider"></div>
                    <div class="modal-action">
                        <div class="btn-group">
                            <div class="btn-group">
                                <label for="cobrar" class="btn border-none">Cerrar</label>
                                <button type="submit" class="btn border-none bg-emerald-700 hover:bg-emerald-600">Pagar<span class="material-icons ml-2">attach_money</span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>