<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:fragment="modal-comite-editar(iex, i)">
        <label th:for="${i}" class="btn border-none w-16 bg-yellow-500 hover:bg-yellow-400">
            <span class="material-icons">edit</span>
        </label>
        <input type="checkbox" th:id="${i}" class="modal-toggle">
        <div class="modal">
            <div class="modal-box  w-11/12 max-w-5xl">
                <div class="grid grid-cols-1 justify-items-center">
                    <h2 class="font-bold text-2xl">Actualizar integrante</h2>
                    <h4 class="font-light text-lg">Ingrese los datos</h4>
                </div>
                <div class="divider"></div>
    
                <form th:object="${integrante}" method="post" th:action="@{/comites/integrantes/existente/actualizar}">
                    <div class="flex flex-col justify-center lg:flex-row">
                        <input hidden th:value="${iex.id}" name="id"/>
                        <div class="form-control mx-2">
                            <label class="label">
                              <span class="label-text">Nombre completo</span>
                            </label>
                            <input type="text" th:value="${iex.nombreCompleto}" th:name="nombreCompleto" placeholder="ej. José Manuel P." class="input input-bordered">
                        </div>
                        <div class="form-control mx-2">  
                            <label class="label">
                              <span class="label-text">Teléfono</span>
                            </label>
                            <input type="text" th:value="${iex.telefono}" th:name="telefono" placeholder="ej. 7777854961" class="input input-bordered">
                        </div>
                        <div class="form-control mx-2">  
                            <label class="label">
                              <span class="label-text">Correo</span>
                            </label>
                            <input type="text" th:value="${iex.username}" th:name="correo" placeholder="ej. Jose_covec@gmail.com" class="input input-bordered">
                        </div>
                    </div>
                    <div class="flex flex-col justify-center lg:flex-row">
                        <div class="form-control mx-2">
                            <label class="label">
                              <span class="label-text">Identificación</span>
                            </label>
                            <div class="relative h-12 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                                <div class="absolute  hover:cursor-pointer">
                                    <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span class="block text-blue-400 font-normal">Abrir explorador</span> </div>
                                </div> 
                                <input th:value="${iex.imagen}" th:name="imagen" type="file" class="h-full w-full opacity-0  hover:cursor-pointer" name="imagen">
                            </div>                            
                        </div>
                        <div class="form-control mx-2">  
                            <label class="cursor-pointer label">
                                <span class="label-text">Marcar como presidente</span> 
                              </label>
                              <input type="checkbox" th:checked="${iex.presidente}" th:name="presidente" class="checkbox checkbox-accent">
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="modal-action">
                        <div class="btn-group">
                            <label th:for="${i}" class="btn border-none">Cerrar</label>
                            <button type="submit" class="btn border-none bg-emerald-700 hover:bg-emerald-600">Guardar <span class="material-icons ml-2">add_box</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>