<!DOCTYPE html>
<html data-theme="light" lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Awesome application to manage neighborhood incidents">
  <meta name="author" content="ThePandaDevs" />
  <meta name="copyright" content="Copyright 2022 - All rights reserved" />
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="reports, neighborhood, incidents, free application">
  <title>Integrantes | Covec</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <div class="drawer h-screen w-full">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col" style="background-color: #EBEBEB;">
      <!-- Navbar -->
      <div class="w-full navbar shadow-md" style="background-color: #605AD4">
        <div class="flex-none">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg width="37" height="25" viewBox="0 0 37 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.875 24.25H36.125V20.3333H0.875V24.25ZM0.875 14.4583H36.125V10.5417H0.875V14.4583ZM0.875 0.75V4.66667H36.125V0.75H0.875Z"
                fill="white" />
            </svg>
          </label>
        </div>
        <div class="flex-1 px-2 mx-2 text-white">Menú</div>
        <div class="flex-none hidden lg:block">
          <div class="indicator">
            <div class="card border">
              <div class="p-2">
                <p class="text-white" th:text="${session.user.tipoUsuario}">Administrador</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contenido principal -->

      <div class="sticky top-0 z-50 flex flex-row justify-center pb-7 pt-5 my-3 rounded-2xl shadow-md mx-2"
        style="background-color: #FFFFFF;">
        <div>
          <h2 class="text-center font-medium leading-tight text-3xl lg:text-4xl">
            Integrantes registrados
          </h2>
          <h4 class="text-center text-gray-500 text-xl lg:text-2xl  pt-1 ">
            Comité de la colonia: [[${comite.colonia.nombre}]]
          </h4>
          <div class="flex justify-center pt-3">
            <a th:href="@{/comites/listar/{id}(id=${comite.colonia.id})}"
              class="btn border-none bg-indigo-700 hover:bg-indigo-600 w-36 mr-2  lg:my-0">
              <span class="material-icons mr-1">keyboard_return</span>
              Cancelar
            </a>

            <div th:if="${#lists.size(integrantes)<=5}">
              <label for="my-modal1" class="btn border-none mr-2  bg-emerald-700 hover:bg-emerald-600 ">
                <span class="material-icons mr-2">person_add</span>
                Nuevo integrante
              </label>
            </div>

            <input type="checkbox" id="my-modal1" class="modal-toggle">
            <div class="modal">
              <div class="modal-box w-11/12 max-w-5xl">
                <div class="grid grid-cols-1 justify-items-center">
                  <h2 class="font-bold text-2xl">Nuevo Integrante</h2>
                  <h4 class="font-light text-lg">Ingrese los datos</h4>
                </div>
                <div class="divider"></div>
                <form th:object="${integrante}" method="post" th:action="@{/comites/integrantes/existente/agregar}">
                  <input type="text" hidden id="link" name="imagen">
                  <div class="flex flex-col justify-center lg:flex-row">
                    <div class="form-control px-5 w-full">
                      <label class="label">
                        <span class="label-text">Nombre completo</span>
                      </label>
                      <input id="ncompleto" type="text" th:field="*{nombreCompleto}" placeholder="ej. José Manuel P."
                        class="input input-bordered" required>
                    </div>
                    <div class="form-control px-5 w-full">
                      <label class="label">
                        <span class="label-text">Teléfono</span>
                      </label>
                      <input id="telefono" type="text" th:field="*{telefono}" placeholder="ej. 7777854961"
                        class="input input-bordered" minlength="10" maxlength="10" required>
                    </div>
                    <div class="form-control px-5 w-full">
                      <label class="label">
                        <span class="label-text">Correo</span>
                      </label>
                      <input  id="email" type="email" th:field="*{username}" placeholder="ej. Jose_covec@gmail.com"
                        class="input input-bordered" minlength="5" maxlength="45" required>
                    </div>
                  </div>
                  <div class="flex flex-col justify-center lg:flex-row">
                    <div class="form-control px-5 w-full">
                      <label class="label">
                        <span class="label-text">Identificación</span>
                      </label>
                      <div
                        class="relative h-12 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                        <div class="absolute  hover:cursor-pointer">
                          <div class="flex flex-col items-center "> <i
                              class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span
                              class="block text-blue-400 font-normal">Abrir explorador</span> </div>
                        </div>
                        <input id="imagenUpload" type="file" class="h-full w-full opacity-0  hover:cursor-pointer" required>
                      </div>
                    </div>
                    <div class="form-control px-5 w-full">
                      <label class="cursor-pointer label">
                        <span class="label-text">Contraseña: </span>
                      </label>
                      <input id="password" th:field="*{password}" type="password" class="input input-bordered">
                    </div>
                    <div class="form-control px-5 w-full">
                      <label class="cursor-pointer label">
                        <span class="label-text">Confirmar contraseña: </span>
                      </label>
                      <input id="passwordConfirmar" type="password" class="input input-bordered">
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="modal-action">
                    <div class="btn-group">
                      <label for="my-modal1" class="btn border-none">Cerrar</label>
                      <input hidden id="subir" type="submit">
                      <a id="botonSubir" class="btn border-none bg-emerald-700 hover:bg-emerald-600">Agregar <span
                          class="material-icons ml-2">add_box</span></a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="flex justify-center mx-2 grid grid-cols-1 lg:grid-cols-2">
        <div th:each="i,idx :${comite.integrantes}" class="card rounded-lg border-t-4 border-indigo-500 bg-base-100 mx-10 my-4 hover:shadow-2xl duration-300 md:lg:mx-20">
          <figure class="px-10 pt-10">
            <img th:src="@{https://zafetnpukdsurpyhykzj.supabase.co/storage/v1/object/public/{link}(link=${i.imagen})}" alt="Imagen no disponible" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">[[${i.nombreCompleto}]]</h2>
            <p class="text-lg" th:text="${i.presidente} ? 'Presidente':'Integrante'"></p>
            <div class="card-actions">
              <div class="badge badge-outline p-3">[[${i.telefono}]]</div>
              <div class="badge badge-outline p-3">[[${i.username}]]</div>
            </div>
            <div class="flex flex-row">
              <div th:if="${!i.presidente}">
                <a th:href="@{/comites/integrantes/existente/quitar/{telefono}(telefono=${i.telefono})}"
                  class="btn border-none w-16 mx-2 bg-indigo-700 hover:bg-indigo-600">
                  <span class="material-icons">person_remove</span>
                </a>
              </div>
              <div th:replace="comite/integrantemodals::modal-comite-editar(${i}, ${i.id})"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--Menu dependiendo del rol-->

    <div sec:authorize="hasAnyAuthority('ROL_ADMIN')" th:replace="menuLayout :: admin-menu"></div>

    <div sec:authorize="hasAnyAuthority('ROL_ENLACE')" th:replace="menuLayout :: enlace-menu"></div>

    <div sec:authorize="hasAnyAuthority('ROL_PRESIDENTE')" th:replace="menuLayout :: presidente-menu"></div>

  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
  <script>
    const SUPABASE_URL = 'https://zafetnpukdsurpyhykzj.supabase.co'
    const SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphZmV0bnB1a2RzdXJweWh5a3pqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY0OTU2NjYwMSwiZXhwIjoxOTY1MTQyNjAxfQ.aBRLQAAxG4L4nxWINeNlFJZgozonsSJcqkxuRgKeY9Y'
    const _supabase = supabase.createClient(SUPABASE_URL, SUPABASE_ANON_KEY)

    $(document).ready(function () {

      $("#botonSubir").click(async () => {
        var files = document.getElementById("imagenUpload");
        var nombre = $('#ncompleto').val();
        var telefono = $('#telefono').val();
        var email = $('#email').val();
        var password = $('#password').val();
        var passwordConfirmar = $('#passwordConfirmar').val();
        if (files.files[0] != null && nombre != "" && telefono != "" && email != "" && password != "" && passwordConfirmar != "") {

          if (password != passwordConfirmar) {
            new Notify({
              status: 'warning',
              title: 'Atención',
              text: 'Las contraseñas no coinciden, revisalas nuevamente',
              effect: 'fade',
              speed: 300,
              customClass: '',
              customIcon: '',
              showIcon: true,
              showCloseButton: true,
              autoclose: false,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 1,
              position: 'right top'
            })
          } else {
            const { data, error } = await _supabase.storage
              .from('covec')
              .upload(`public/${files.files[0].name}`, files.files[0])

            if (data != null) {
              $('#link').val(data.Key);
              
            } else if (error != null) {
              new Notify({
                status: 'error',
                title: 'Atención',
                text: 'Ocurrio un error al subir la imagen al servidor',
                effect: 'fade',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: true,
                autoclose: false,
                autotimeout: 3000,
                gap: 20,
                distance: 20,
                type: 1,
                position: 'bottom x-center'
              })
            }

            $("#subir").click();
          }
        } else {
          new Notify({
            status: 'warning',
            title: 'Atención',
            text: 'Es necesario llenar todos los campos',
            effect: 'fade',
            speed: 300,
            customClass: '',
            customIcon: '',
            showIcon: true,
            showCloseButton: true,
            autoclose: false,
            autotimeout: 3000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'right top'
          })
        }
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $("#cerrar").click(() => {
        $("#validaciones").fadeOut("slow");
      })
    });
  </script>
</body>

</html>