<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Enlace | Covec</title>
</head>

<body>
    <!-- Inicio-->
    <div class="conteiner text-center">
        <div class="ui raised padded segment stackable grid " style="padding:20px;">

            <div class="left floated left aligned six wide ">
                <div class="ui" style="padding-top: 4%;">
                    <h1 style="font-weight: bolder; font-size: 29px">Bienvenido Enlace</h1>
                    <p style="font-size: 20px; color: #666668;">Actividades que puedes realizar:</p>
                </div>
            </div>
        </div>
    </div>
    <!-- cards-->
    <div class="grid  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 
    flex flex-wrap justify-center">
        <div class="transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out
        flex flex-col bg-white rounded-lg shadow-md w-full m-12 overflow-hidden  border-l-8 md:w-80 p-4"
            style="border-color: #666668;">
            <div class="w-20 h-20 rounded-full mx-auto  m-4">
                <svg width="82" height="83" viewBox="0 0 82 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="41" cy="41.5" rx="41" ry="41.5" fill="#847CFC" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M41.7619 24C33.3505 24 26.5238 31.68 26.5238 41.1429C26.5238 43.7829 27.0724 46.2514 28.0019 48.4971L25 60L35.2248 56.6229C37.221 57.6686 39.4152 58.2857 41.7619 58.2857C50.1733 58.2857 57 50.6057 57 41.1429C57 31.68 50.1733 24 41.7619 24ZM47.8571 42.8571H43.2857V48H40.2381V42.8571H35.6667V39.4286H40.2381V34.2857H43.2857V39.4286H47.8571V42.8571Z"
                        fill="#F3F3F3" />
                </svg>
            </div>
            <h2 class="text-center px-2 pb-5" style="font-weight: bolder; color: #263238;">Colonias</h2>
            <a class="text-center">Administra las colonias pertenecientes
                un respectivo municipio.</a>
        </div>

        <div class="transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out
        flex flex-col bg-white rounded-lg shadow-md w-full m-12 overflow-hidden  border-l-8 md:w-80 p-4 "
            style="border-color: #666668;">
            <div class="w-20 h-20 rounded-full mx-auto   m-4">
                <svg width="82" height="83" viewBox="0 0 82 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="41" cy="41.5" rx="41" ry="41.5" fill="#847CFC" />
                    <path
                        d="M48.3182 39.1429C51.5627 39.1429 54.1623 35.9843 54.1623 32.0714C54.1623 28.1586 51.5627 25 48.3182 25C45.0736 25 42.4545 28.1586 42.4545 32.0714C42.4545 35.9843 45.0736 39.1429 48.3182 39.1429ZM32.6818 39.1429C35.9264 39.1429 38.5259 35.9843 38.5259 32.0714C38.5259 28.1586 35.9264 25 32.6818 25C29.4373 25 26.8182 28.1586 26.8182 32.0714C26.8182 35.9843 29.4373 39.1429 32.6818 39.1429ZM32.6818 43.8571C28.1277 43.8571 19 46.615 19 52.1071V58H46.3636V52.1071C46.3636 46.615 37.2359 43.8571 32.6818 43.8571ZM48.3182 43.8571C47.7514 43.8571 47.1064 43.9043 46.4223 43.975C48.6895 45.955 50.2727 48.6186 50.2727 52.1071V58H62V52.1071C62 46.615 52.8723 43.8571 48.3182 43.8571Z"
                        fill="#F3F3F3" />
                </svg>

            </div>
            <h2 class="text-center px-2 pb-5" style="font-weight: bolder; color: #263238;">Comités</h2>
            <a class="text-center">Administra los comités pertenecientes a una colonia.</a>
        </div>

        <div class="transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out
        flex flex-col bg-white rounded-lg shadow-md w-full m-12 overflow-hidden  border-l-8 md:w-80 p-4"
            style="border-color: #666668;">
            <div class="w-20 h-20 rounded-full mx-auto   m-4">
                <svg width="82" height="83" viewBox="0 0 82 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="41" cy="41.5" rx="41" ry="41.5" fill="#847CFC" />
                    <path
                        d="M55.9511 34.82L47.3644 25.16C46.7067 24.42 45.8 24 44.8578 24H28.5556C26.6 24 25 25.8 25 28V56C25 58.2 26.6 60 28.5556 60H53.4444C55.4 60 57 58.2 57 56V37.66C57 36.6 56.6267 35.58 55.9511 34.82ZM32.1111 32H44.5556V36H32.1111V32ZM49.8889 52H32.1111V48H49.8889V52ZM49.8889 44H32.1111V40H49.8889V44Z"
                        fill="#F3F3F3" />
                </svg>


            </div>
            <h2 class="text-center px-2 pb-5" style="font-weight: bolder; color: #263238;">Solicitudes</h2>
            <a class="text-center">Gestiona las solicitudes de incidencias de cada colonia.</a>
        </div>

    </div>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>

</html>