<!DOCTYPE html>
<html data-theme="light" xmlns:th="https://www.thymeleaf.org/" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Awesome application to manage neighborhood incidents" />
  <meta name="author" content="ThePandaDevs" />
  <meta name="copyright" content="Copyright 2022 - All rights reserved" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="reports, neighborhood, incidents, free application" />
  <title>Dashboard | Covec</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <div class="drawer h-screen w-full">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col" style="background-color: #EBEBEB;">
      <!-- Navbar -->
      <div class="w-full navbar shadow-md" style="background-color: #605AD4">
        <div class="flex-none">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg width="37" height="25" viewBox="0 0 37 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.875 24.25H36.125V20.3333H0.875V24.25ZM0.875 14.4583H36.125V10.5417H0.875V14.4583ZM0.875 0.75V4.66667H36.125V0.75H0.875Z"
                fill="white" />
            </svg>
          </label>
        </div>
        <div class="flex-1 px-2 mx-2 text-white">Menú</div>
        <div class="flex-none hidden lg:block">
          <div class="indicator">
            <div class="card border">
              <div class="p-2">
                <p class="text-white">Administrador</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contenido principal -->


    </div>
    <!--Menu dependiendo del rol-->
    <div th:replace="menuLayout :: admin-menu"></div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

</html>