<!DOCTYPE html>
<html data-theme="light" xmlns:th="https://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Awesome application to manage neighborhood incidents">
    <meta name="author" content="ThePandaDevs" />
    <meta name="copyright" content="Copyright 2022 - All rights reserved" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="reports, neighborhood, incidents, free application">
    <title>Covec | Perfil</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.css" />
    <link rel="stylesheet" th:href="@{/css/animation.css}">
    <style>
        @import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');
    </style>
</head>

<body>
    <div class="drawer h-screen w-full">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col" style="background-color: #EBEBEB;">
            <!-- Navbar -->
            <div class="w-full navbar shadow-md" style="background-color: #605AD4">
                <div class="flex-none">
                    <label for="my-drawer-3" class="btn btn-square btn-ghost">
                        <svg width="37" height="25" viewBox="0 0 37 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.875 24.25H36.125V20.3333H0.875V24.25ZM0.875 14.4583H36.125V10.5417H0.875V14.4583ZM0.875 0.75V4.66667H36.125V0.75H0.875Z"
                                fill="white" />
                        </svg>
                    </label>
                </div>
                <div class="flex-1 px-2 mx-2 text-white">Menú</div>
                <div class="flex-none hidden lg:block">
                    <div class="indicator">
                        <div class="card border">
                            <div class="p-2">
                                <p class="text-white" th:text="${session.user.tipoUsuario}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contenido principal -->

            <div class="flex flex-col items-center px-5 mx-2 my-3 py-2 shadow-md rounded-2xl md:lg:flex-col" style="background-color: #FFFFFF; ">
                <img th:src="@{https://zafetnpukdsurpyhykzj.supabase.co/storage/v1/object/public/{link}(link=${usuario.imagen})}" class="h-32 w-32 object-cover rounded-xl" alt="No disponible">
                <h1 class=" font-bold md:lg:text-3xl" th:text="${usuario.nombreCompleto}"></h1>
                <h4 class="text-lg font-normal" th:text="${session.user.tipoUsuario}"></h4>
            </div>

            <div class=" alert shadow-lg w-auto m-5 border-t-4 border-yellow-500" id="validaciones" th:if="${errores != null}">
                <div class="grid grid-cols-1">
                  <div class="flex justify-start">
                    <span class=" material-icons text-yellow-500">report_problem</span>
                    <h6 class="font-semibold ml-1 text-yellow-500 text-lg">ATENCIÓN - Datos inválidos</h6>
                  </div>
                  <h6 th:each="e:${errores}" class="text-sm">► [[${e}]]</h6>
                </div>
                <div class="flex-none">
                  <button id="cerrar" class="btn border-none btn-square btn-outline hover:bg-yellow-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                  </button>
                </div>
              </div>

            <div class="w-full relative mt-4 my-24 ">
                <div class="grid grid-cols-1 bg-white mx-2 rounded-2xl">
                    <div
                        class="col-span-12 md:border-solid md:border-l md:border-black md:border-opacity-25 h-full pb-12 md:col-span-10">

                        <div class="px-4 pt-4">
                            <form th:action="@{/actualizar}" method="post" th:object="${usuario}"
                                class="flex flex-col space-y-8">
                                <input hidden th:value="${session.user.id}" name="id">

                                <div>
                                    <h3 class="text-2xl font-semibold">Información Personal</h3>
                                    <hr>
                                </div>
                                <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

                                    <div class="form-item w-full">
                                        <label for="nombreCompleto" class="text-xs font-semibold px-1">Nombre
                                            Completo:</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-account-outline  text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="text" id="nombreCompleto" name="nombreCompleto"
                                                th:value="${usuario.nombreCompleto}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="Juan">
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
                                    <div class="form-item w-full">
                                        <label for="" class="text-xs font-semibold px-1">Numero Telefónico</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-phone text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="text" id="telefono" name="telefono"
                                                th:value="${usuario.telefono}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="7771077732">
                                        </div>
                                    </div>
                                    <div class="form-item w-full">
                                        <label for="" class="text-xs font-semibold px-1">Correo Electrónico</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-email-outline text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="text" id="username" name="username"
                                                th:value="${usuario.username}"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="juan@gmail">
                                        </div>
                                    </div>
                                </div>


                                <div class="btn-group">
                                    <button type="submit"
                                        class="btn border-none bg-emerald-700 hover:bg-emerald-600 md:w-64">Guardar
                                        Cambios <i class="mdi mdi-download text-text-white-400 text-lg"></i></button>
                                </div>
                            </form>

                            <div class=" py-8">
                                <h3 class="text-2xl font-semibold">Cambio de Contraseña</h3>
                                <hr>
                            </div>
                            <form th:action="@{/updatePassword}" method="post">
                                <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">
                                    <input hidden th:value="${session.user.id}" name="idUsuario" type="number">
                                    <div class="form-item w-full">
                                        <label for="" class="text-xs font-semibold px-1">Contraseña Actual:</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-lock text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="password" name="oldPassword"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="******">
                                        </div>
                                    </div>


                                    <div class="form-item w-full">
                                        <label for="" class="text-xs font-semibold px-1">Nueva Contraseña:</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-lock text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="password" name="newPassword" id="newPassword"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="******">
                                        </div>
                                    </div>
                                    <div class="form-item w-full">
                                        <label for="" class="text-xs font-semibold px-1">Confirmar Contraseña:</label>
                                        <div class="flex">
                                            <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                                <i class="mdi mdi-lock text-gray-400 text-lg"></i>
                                            </div>
                                            <input type="password" id="passConfirm"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="******">
                                        </div>
                                    </div>
                                </div>
                                <div class=" pt-8">
                                    <button type="submit" for="my-modal" id="btnSubmit"
                                        class="btn bg-emerald-700 hover:bg-emerald-600 gap-2 border-none md:w-64 ">Cambiar
                                        <i class="mdi mdi-download text-text-white-400 text-lg"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>            
        </div>
        <div sec:authorize="hasAnyAuthority('ROL_ADMIN')" th:replace="menuLayout :: admin-menu"></div>

        <div sec:authorize="hasAnyAuthority('ROL_ENLACE')" th:replace="menuLayout :: enlace-menu"></div>

        <div sec:authorize="hasAnyAuthority('ROL_PRESIDENTE')" th:replace="menuLayout :: presidente-menu"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                var password = $("#newPassword").val();
                var confirmPassword = $("#passConfirm").val();
                if (password != confirmPassword) {

                    new Notify({
                        status: 'warning',
                        title: 'Atención',
                        text: 'Las contraseñas no coinciden',
                        effect: 'fade',
                        speed: 300,
                        customClass: '',
                        customIcon: '',
                        showIcon: true,
                        showCloseButton: true,
                        autoclose: false,
                        autotimeout: 3000,
                        gap: 20,
                        distance: 20,
                        type: 1,
                        position: 'bottom right'
                    })
                    return false;
                }
                return true;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#cerrar").click(() => {
                $("#validaciones").hide("slow");
            })
        });
    </script>
    <script th:if="${mensaje != null}">
        var mensaje = '[[${mensaje}]]'
        new Notify({
            status: 'success',
            title: 'Exito',
            text: mensaje,
            effect: 'fade',
            speed: 300,
            customClass: '',
            customIcon: '',
            showIcon: true,
            showCloseButton: true,
            autoclose: false,
            autotimeout: 3000,
            gap: 20,
            distance: 20,
            type: 1,
            position: 'bottom left'
        })
    </script>


</body>

</html>