<!DOCTYPE html>
<html  data-theme="light" xmlns:th="https://www.thymeleaf.org/"  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Awesome application to manage neighborhood incidents">
    <meta name="author" content="ThePandaDevs" />
    <meta name="copyright" content="Copyright 2022 - All rights reserved" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="reports, neighborhood, incidents, free application">
    <title>Perfil | Covec</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.8.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
    <div class="drawer h-screen w-full">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle"> 
        <div class="drawer-content flex flex-col">
          <!-- Navbar -->
          <div class="w-full navbar shadow-md" style="background-color: #F9F9F9;">
            <div class="flex-none">
              <label for="my-drawer-3" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
              </label>
            </div> 
            <div class="flex-1 px-2 mx-2">Menú</div>
            <div class="flex-none hidden lg:block">
              <div class="indicator">
                <div class="card border">
                  <div class="p-2">
                    <p>Administrador</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Contenido principal -->
          

        </div>
        <!--Menu dependiendo del rol--> 
        <div th:replace="menuLayout :: admin-menu">

        </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
</html>